.switch {
              position: relative;
              display: inline-block;
              width: 80px;
              height: 30px;
              cursor: pointer;
            }
            .switch input {
              height:20px;
              display: none;
            }
            .slider {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width:70px;
              border: 2px solid #ecf0f3;
              border-radius: 20px;
              box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                          -2px -2px 12px rgba(255, 255, 255, 0.5),
                          inset -2px -2px 8px rgba(255, 255, 255, 1),
                          inset -2px -2px 12px rgba(255, 255, 255, 0.5),
                          inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                          inset 2px 2px 8px rgba(0, 0, 0, .3),
                          2px 2px 8px rgba(0, 0, 0, .3);
              background-color: #ecf0f3;
            }
            .slider:before {
              position: absolute;
              bottom: 5px;
              left: 10px;
              z-index: 999;
              width: 17px;
              height: 17px;
              border-radius: 50%;
              box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                          -2px -2px 12px rgba(255, 255, 255, 0.5),
                          inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                          2px 2px 8px rgba(0, 0, 0, .3);
              background-color: #ecf0f3;
              content: "";
              transition: .5s;
            }
            .off {
              position: absolute;
              top: 14px;
              right: 12px;
              color: #3d3935;
              font-size: .8125rem;
            }
            .on {
              position: absolute;
              top: 14px;
              left: 14px;
              color: #f252a5;
              font-size: .8125rem;
            }
            input:checked + .slider:before {
              transform: translateX(33px);
              background-color:#068FFF;
            }
            .inldiv{
                border: none;
                width:40%;
                height:100%;
                outline: none;
            }